<div class="container">
  <div style="position: fixed">
      <img
        id="bodyImage"
        src="assets/images/woman.png"
      >

    <app-marker id="head" class="head" style="position:absolute;top:18px;left:240px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="shoulderL" class="shoulder" style="position:absolute;top:88px;left:205px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="shoulderR" class="shoulder" style="position:absolute;top:88px;left:270px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="armL" class="arm" style="position:absolute;top:128px;left:145px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="armR" class="arm" style="position:absolute;top:128px;left:335px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="handL" class="hand" style="position:absolute;top:150px;left:55px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="handR" class="hand" style="position:absolute;top:150px;left:425px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="throat" class="neck" style="position:absolute;top:58px;left:240px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="breasts" class="breasts" style="position:absolute;top:118px;left:240px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="stomach" class="stomach" style="position:absolute;top:188px;left:240px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="genitals" class="genitals" style="position:absolute;top:228px;left:240px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="thighL" class="thigh" style="position:absolute;top:278px;left:210px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="thighR" class="thigh" style="position:absolute;top:278px;left:265px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="kneeL" class="knee" style="position:absolute;top:348px;left:210px;padding-top:-30px;"  (click)="changeDotColor($event)"></app-marker>
    <app-marker id="kneeR" class="knee" style="position:absolute;top:348px;left:270px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="calfL" class="calf" style="position:absolute;top:398px;left:210px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="calfR" class="calf" style="position:absolute;top:398px;left:270px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="ankleL" class="ankle" style="position:absolute;top:448px;left:205px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="ankleR" class="ankle" style="position:absolute;top:448px;left:275px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="footL" class="foot" style="position:absolute;top:478px;left:190px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <app-marker id="footR" class="foot" style="position:absolute;top:478px;left:290px;padding-top:-30px;" (click)="changeDotColor($event)"></app-marker>
    <!--    <span-->
    <!--      class="dot"-->
    <!--      style="top:75px;left:190px"-->
    <!--    > </span>-->
  </div>
  <div style="float: right;width: 50%;width:fit-content; margin-right: 2em">
    <div>
      <button mat-raised-button (click)="generateIllness()">Generate illnesses</button>
    </div>
    <div  class="tables">
      <div class="tableOfSymptoms mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="demo-table">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? toggleCheckbox(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{element.symptomId}}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <!-- Weight Column -->
          <!--      <ng-container matColumnDef="bodyPart">-->
          <!--        <th mat-header-cell *matHeaderCellDef>Body part</th>-->
          <!--        <td mat-cell *matCellDef="let element">{{element.bodyPart}}</td>-->
          <!--      </ng-container>-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              To view symptoms, please select body part
            </td>
          </tr>
        </table>
      </div>
      <div class="tableOfSelectedSymptoms mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceSelectedSymptoms" class=" demo-table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Selected Symptom</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <!-- Weight Column -->
          <!--      <ng-container matColumnDef="bodyPart">-->
          <!--        <th mat-header-cell *matHeaderCellDef>Body part</th>-->
          <!--        <td mat-cell *matCellDef="let element">{{element.bodyPart}}</td>-->
          <!--      </ng-container>-->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSelectedSymptoms"></tr>
          <tr
            mat-row
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumnsSelectedSymptoms;"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              To view symptoms, please select body part
            </td>
          </tr>
        </table>
        <!--    <mat-paginator [pageSizeOptions]="[5, 10]"-->
        <!--                   showFirstLastButtons-->
        <!--                   aria-label="Select page of periodic elements">-->
        <!--    </mat-paginator>-->
      </div>
      <!--    <mat-paginator [pageSizeOptions]="[5, 10]"-->
      <!--                   showFirstLastButtons-->
      <!--                   aria-label="Select page of periodic elements">-->
      <!--    </mat-paginator>-->
    </div>
  </div>
</div>
