<h2 mat-dialog-title>Add Illness</h2>
<form [formGroup]="addIllness" >
<mat-dialog-content class="mat-typography">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
      <div class="form-group">
        <input formControlName="illnessName" matInput>
      </div>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <div class="form-group">
        <input formControlName="illnessDescription" matInput>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Symptoms</mat-label>
        <div class="form-group">
        <mat-select formControlName="symptoms" multiple>         
            {{symptoms.value ? symptoms.value[0] : ''}}
            <span *ngIf="symptoms.value?.length > 1" class="example-additional-selection">             
            </span>          
          <mat-option *ngFor="let symptom of symptomsList" [value]="symptom">{{symptom['name']}}</mat-option>
        </mat-select>
        </div>
      </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveIllness()">Save</button>
</mat-dialog-actions>
</form>
