  <mat-toolbar>
    <span style="font-size: 25px">SMART </span>
    <span style="font-size: 25px">Health</span>
  
    <span class="logout">    
       <button  mat-mini-fab matTooltip="John Doe" [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value"  color="accent">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
      </mat-menu>
    </span>
  </mat-toolbar>

